/* admin.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* admin.css */

/* Căn chỉnh header trải đều hai bên */
header {
    background-color: #87f5df;
    color: white;
    padding: 15px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right h1 {
    margin-right: 20px;
    font-size: 1.5em;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-btn i {
    margin-right: 5px;
}


.admin-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li:hover {
    background-color: #575757;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.main-content h2 {
    color: #4CAF50;
}

.main-content section {
    margin-bottom: 30px;
}

/* Ensure Sidebar and Content Scroll Together */
.sidebar, .main-content {
    overflow-y: auto;
}
