* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding-top: 56px;
}

header>nav {
  z-index: 1030;
}

.cartegory {
  position: relative;
  z-index: 1;
  padding: 0; 
  margin: 0;  
}


.container {
  width: 100%;           
  max-width: 1200px;       
  margin: 0 auto;        
  padding-left: 10px;   
  padding-right: 10px;  
}

.cartegory .container .row {
  display: flex; 
}

.cartegory-left {
  width: 20%;
  position: relative;
  z-index: 2;
  padding-right: 20px;
}

.cartegory-left ul {
  list-style: none;
  margin-right: 10px;
}

.cartegory-left li {
  margin-bottom: 5px;
}

.cartegory-left a {
  color: black;
  text-decoration: none;
  display: block; 
  padding: 10px; 
}

.cartegory-right {
  width: 80%; 
}

.cartegory-right a{
  color: black;
  text-decoration: none;
}

.cartegory-top.row { 
  padding-top: 25px;
}

/* CSS cho sản phẩm */
.wrapper {
    padding: 10px; 
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 0; 
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 23%; 
  text-align: center;
  position: relative;
  background-color: #fff;
  margin: 1%;
}

.card img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  height: 350px;
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #EB5757;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.title {
  font-size: 16px; 
  margin-top: 6px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: green;
  margin: 5px 0;
}

.original-price {
  text-decoration: line-through;
  color: #999;
}

.cartegory-left-li.active a {
    color: white; 
    background-color: #eb5013; 
    font-weight: bold;
}

.box_pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pagination {
  display: inline-block;
  padding-top: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 4px;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #EB5757;
  color: white;
  border: 1px solid #EB5757;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

ul {
  list-style: none;
  margin-right: 10px;
}

.end {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 10%;
  background-color: aliceblue;
  padding-top: 15px;
  padding-bottom: 15px;
}

.end>li>ul .tieu_de {
  color: black;
  font-size: large;
  margin-bottom: 5px;
  font-weight: bolder;
}

.end>li>ul>li>a {
  text-decoration: none;
  color: black;
}

.end>li>ul>li {
  color: black;
}

/* CSS cho responsive (Giữ nguyên) */
@media screen and (max-width: 846px) {
  .fas {
    display: block;
  }

  nav .content-nav ul {
    position: fixed;
    bottom: 0;
    left: -200px;
    width: 200px;
    height: 90%;
    background-color: #f1f1f1;
    transition: left 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
  }

  nav .content-nav ul li {
    width: 100%;
  }

  nav .content-nav ul.active {
    left: 0;
  }
}