/*Phần đầu*/
.header{
  width: 100%;
  height: 50px;
  box-shadow: 0px 2px 2px 0px gray;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: fixed;
  top: 0;
  left: 0;
  background-color:#b6e2d3;
  z-index: 1;
}

.header a{
  text-decoration: none;
  color: white;
  font-size: xx-large;
  font-weight: 900;
  margin-left: 50px;
}

.header a:hover{
  color: #eb3c15;
}

/*Thân*/
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
  }
  
  .container {
    width: 80%;
    font-size: 20px;
    margin: 20px auto;
    margin-top: 80px;
  }
  
  .container form{
    margin-bottom: 30px;
  }
  .container .tim-kiem{
    width: 80%;
    margin-right: 25px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #search-box {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #add-book-btn {
    display: block;
    text-align: center;
    background-color: #b6e2d3;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  #add-book-btn:hover{
    background-color: #eb3c15;
    color: white;
  }
  /*List sách*/
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #book-list {
    list-style-type: none;
    padding: 0;
  }
  
  .book{
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
  }

  .book-left{
    margin-left: 25px;
  }

  .book-left img{
    width: 50px;
    height: 90px;
    margin-right: 10px;
  }

  .book-right{
    margin-right: 25px;
  }

  .book-right button{
    margin-left: 20px;
    background-color: #b6e2d3;
  }

  .book-right button:hover{
    background-color: #eb3c15;
  }