* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Phần đầu */
.header {
    width: 100%;
    height: 50px;
    box-shadow: 0px 2px 2px 0px gray;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eb3c15;
    margin-bottom: 20px;
    z-index: 1;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-weight: 900;
}

/* Phần avata */
.body {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.body .box-avata {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 80%;
}

.avata img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nickname {
    padding-left: 20px;
}

.nickname p {
    font-size: x-large;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

.Follow-button{
    background-color: #eb3c15;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Phần box */
.box {
    width: 80%;
    background-color: lightblue;
}

.box-box {
    display: flex;
    justify-content: center;
}

.mybox{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background: aliceblue;
    border: 1px solid black;
}


.words {
    width: 80%;
    margin-bottom: 20px;
}

.word {
    cursor: pointer;
    margin-right: 10px;
    padding-bottom: 10px;
    font-size: larger;
}

.selected {
    font-weight: 900;
    border-bottom: 3px solid #eb3c15;
}

.thongtin, .donhang {
    background-color: whitesmoke;
    padding: 10px;
}

.gtbt{
    width: 100%;
    background: whitesmoke;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.about-info, .panel, .panel-default2{
    margin: 10px;

}
.user, .clearfix{
    margin: 10px;
}

pre{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;    
}

.title{
    margin-top: 10px;
    font-weight: bold;
}
li{
    list-style: none;
    padding-bottom: 5px;
    padding-top: 10px;
}
a{
    text-decoration: none;
}

/*Box đơn hàng*/
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.order-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.order-item:hover {
    background-color: #f0f0f0;
}

.order-item h3 {
    margin: 0;
    color: #555;
}

.order-status {
    font-weight: bold;
    color: #eb3c15;
}

#order-details {
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.hidden {
    display: none;
}

