 /* header */
 .header{
    width: 100%;
    height: 50px;
    box-shadow: 0px 2px 2px 0px gray;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    background-color:#b6e2d3;
    z-index: 1;
    padding-left: 30px;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-weight: 900;
}

.header a:hover{
    color: #eb3c15;
}

body {
    margin-top: 120px;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
        h1 {
            text-align: center;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin: 10px 0 5px;
        }
        input, select, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .button {
            padding: 10px 20px;
            background-color: #b6e2d3;
            color: black;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        .button:hover {
            background-color: #EB5757;
            color: white;
        }
        .error {
            color: red;
            display: none;
        }
        .total {
            font-weight: bold;
            margin-top: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
        .product-list {
            margin-bottom: 20px;
        }
        .product {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
        }
        .shipping-method {
            display: block;
        }

        img {
            width: 80px;
            height: 130px;
        }