* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gdđn {
    width: 100%;
    height: 100vh;
    background-image: url(../images/nendki.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.khunglon {
    position: relative;
    padding: 70px;
    background-color: rgba(167, 231, 243, 0.7);
    border: 1px solid transparent;
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    margin-top: 70px;
    border-radius: 5px;
}

.khungnho {
    margin-left: 20px;
    margin-right: 20px;
    padding: 32px 32px 16px;
    width: 100%;
}

.x {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.x a {
    text-decoration: none;
    color: gray;
}

.thamgiagt {
    padding-bottom: 20px;
    margin: 10px;
}

.dnvao {
    width: 478px;
    height: 40px;
    display: flex;
}

.chu {
    width: 60%;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.quyenloi {
    width: 60%;
    text-align: center;
    font-size: medium;
}

.khungbe {
    padding: 0 12px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

form input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: medium;
}

form input::placeholder {
    font-size: small;
    color: #999;
}

.buttondn {
    padding: 0 16px;
    cursor: pointer;
    width: 100%;
    color: aliceblue;
    font-size: large;
    height: 48px;
    background: black;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 16px;
    font-size: medium;
}

footer .dangki {
    color: red;
    font-weight: bold;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.quenMK {
    text-align: center;
    text-decoration: none;
    margin-top: 12px;
    font-size: small;
}

.quenMK .blue {
    color: blue;
}

a {
    text-decoration: none;
}
